.header{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    position: sticky;
    top:0;
    left: 0;
    z-index: 1;
}
.logo{
   flex: 25%;
   padding: 10px;
   flex: 25%;
}
.header_items{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex: 50%;
}
.header_items li:hover{
    color: grey;
    cursor: pointer;
}
@media screen and (max-width:600px)
{
    .header{
        display: flex;
        justify-content: flex-start;
    }
    .header_items{
        flex-direction: column;
    }
    .header li{
        padding: 5px;
        margin: 4px;
        border-bottom: 1px solid rgba(201, 198, 198, 0.296);
    }
    .header li:last-child{
        margin-bottom: 20px;
    }
    .header_items{
        display: none;
    }

}